@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";

* {
    font-family: "Inter", sans-serif;
}

@layer utilities {
    ::-webkit-scrollbar {
        display: none;
    }

    * {
        scrollbar-width: none;
        scroll-behavior: smooth;
    }

    ::-webkit-scrollbar-thumb {
        display: none;
    }
}

@media Screen and (min-width: 1030px) and (max-width: 2561px) {
    html {
        font-size: 16px;
    }
}

@media Screen and (min-width: 576px) and (max-width: 955.5px) {
    html {
        font-size: 15px;
    }

}

@media Screen and (min-width: 452px) and (max-width: 659.5px) {
    html {
        font-size: 14px;
    }
}


@media screen and (max-width: 451.5px) {
    html {
        font-size: 13px;
    }
}